doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Арт-студия "Эклектика"
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,900")
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/eclectica.css")
		link(rel="stylesheet", href="css/slick.css")
		link(rel="stylesheet", href="css/slick-theme.css")
		script(src="//code.jquery.com/jquery-1.11.0.min.js")
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/eclectica.js")
		body
		.main-content
			header
				.slider-top
					.slider-top__item
						.slider-top__txt
							.address
								p +7 812 982 69 61
								p +7 905 222 69 61
								a(href="www.eklektika-spb.ru") www.eklektika-spb.ru
								a(href="mailto:eklektika-spb@yandex.ru") eklektika-spb@yandex.ru
							.soc-icons
								a(href="#").soc-icons__item.soc-icons--fb-white
								a(href="#").soc-icons__item.soc-icons--vk-white
								a(href="#").soc-icons__item.soc-icons--in-white
							.slogan
								p "Чуднее чудного.." 
								span (Арт-студия "Эклектика")
						img(src="img/slider-top-1.jpg", alt="")
					.slider-top__item
						.slider-top__txt
							.address
								p +7 812 982 69 61
								p +7 905 222 69 61
								a(href="www.eklektika-spb.ru") www.eklektika-spb.ru
								a(href="mailto:eklektika-spb@yandex.ru") eklektika-spb@yandex.ru
							.soc-icons
								a(href="#").soc-icons__item.soc-icons--fb-black
								a(href="#").soc-icons__item.soc-icons--vk-black
								a(href="#").soc-icons__item.soc-icons--in-black
							.slogan
								p "Вкуснее вкусного.." 
								span (Арт-студия "Эклектика")
						img(src="img/slider-top-2.jpg", alt="")
					.slider-top__item
						.slider-top__txt
							.address
								p +7 812 982 69 61
								p +7 905 222 69 61
								a(href="www.eklektika-spb.ru") www.eklektika-spb.ru
								a(href="mailto:eklektika-spb@yandex.ru") eklektika-spb@yandex.ru
							.soc-icons
								a(href="#").soc-icons__item.soc-icons--fb-white
								a(href="#").soc-icons__item.soc-icons--vk-white
								a(href="#").soc-icons__item.soc-icons--in-white
							.slogan
								p "Быстрее быстрого.." 
								span (Арт-студия "Эклектика")
						img(src="img/slider-top-3.jpg", alt="")
				ul.menu-top
					li
						a(href="") О нас
					li
						a(href="") Сделать заказ
					li
						a(href="") Новости
					li
						a(href="") Цены
					li
						a(href="") Интересное
					li
						a(href="") Статьи 
					li
						a(href="") Контакты
			main
				2
		footer
			1
