doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Арт-студия "Эклектика"
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,900")
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet", href="css/slick.css")
		link(rel="stylesheet", href="css/slick-theme.css")
		link(rel="stylesheet" href="css/eclectica.css")
		script(src="//code.jquery.com/jquery-1.11.0.min.js")
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/eclectica.js")
		body
		.main-content
			header.main-header
				.slider-top
					.slider-top__item
						.slider-top__txt
							.address.address--slider
								p +7 812 982 69 61
								p +7 905 222 69 61
								a(href="www.eklektika-spb.ru") www.eklektika-spb.ru
								a(href="mailto:eklektika-spb@yandex.ru") eklektika-spb@yandex.ru
							.soc-icons.soc-icons--slider
								a(href="#").soc-icons__item.soc-icons--fb-white
								a(href="#").soc-icons__item.soc-icons--vk-white
								a(href="#").soc-icons__item.soc-icons--in-white
							.slogan
								p "Чуднее чудного.." 
								span (Арт-студия "Эклектика")
						img(src="img/slider-top-1.jpg", alt="")
					.slider-top__item
						.slider-top__txt
							.address.address--slider
								p +7 812 982 69 61
								p +7 905 222 69 61
								a(href="www.eklektika-spb.ru") www.eklektika-spb.ru
								a(href="mailto:eklektika-spb@yandex.ru") eklektika-spb@yandex.ru
							.soc-icons.soc-icons--slider
								a(href="#").soc-icons__item.soc-icons--fb-black
								a(href="#").soc-icons__item.soc-icons--vk-black
								a(href="#").soc-icons__item.soc-icons--in-black
							.slogan
								p "Вкуснее вкусного.." 
								span (Арт-студия "Эклектика")
						img(src="img/slider-top-2.jpg", alt="")
					.slider-top__item
						.slider-top__txt
							.address.address--slider
								p +7 812 982 69 61
								p +7 905 222 69 61
								a(href="www.eklektika-spb.ru") www.eklektika-spb.ru
								a(href="mailto:eklektika-spb@yandex.ru") eklektika-spb@yandex.ru
							.soc-icons.soc-icons--slider
								a(href="#").soc-icons__item.soc-icons--fb-white
								a(href="#").soc-icons__item.soc-icons--vk-white
								a(href="#").soc-icons__item.soc-icons--in-white
							.slogan
								p "Быстрее быстрого.." 
								span (Арт-студия "Эклектика")
						img(src="img/slider-top-3.jpg", alt="")
				ul.menu-top
					li
						a(href="") О нас
					li
						a(href="") Сделать заказ
					li
						a(href="") Новости
					li
						a(href="") Цены
					li
						a(href="second.html") Интересное
					li
						a(href="") Статьи 
					li
						a(href="") Контакты
			main
				.slider-service
					.slider-service__item
						.service-info
							h2 Наши услуги
							.service-list
								.service-item
									p.service-section Мастер-классы
									.service-name
										p - Курсы рисования
										p - Живопись
									.service-text 
										p Рисование. Небольшое описание или какой-нибудь текст. 
									a(href="#") Читать далее
								.service-item
									p.service-section Творчество
									.service-name
										p - Курсы рисования
										p - Живопись
										p - Акварель
									.service-text 
										p Рисование. Небольшое описание или какой-нибудь текст. Может быть немножко побольше текста.
									a(href="#") Читать далее
								.service-item
									p.service-section "Багетка"
									.service-name
										p - Багеты
									.service-text 
										p Текст про багетную мастерскую
									a(href="#") Читать далее
					.slider-service__item
						.service-info
							h2 Наши услуги
							.service-list
								.service-item
									p.service-section "Багетка"
									.service-name
										p - Багеты
									.service-text 
										p Текст про багетную мастерскую
									a(href="#") Читать далее
								.service-item
									p.service-section Мастер-классы
									.service-name
										p - Курсы рисования
										p - Живопись
									.service-text 
										p Рисование. Небольшое описание или какой-нибудь текст. 
									a(href="#") Читать далее
								.service-item
									p.service-section Творчество
									.service-name
										p - Курсы рисования
										p - Живопись
										p - Акварель
									.service-text 
										p Рисование. Небольшое описание или какой-нибудь текст. Может быть немножко побольше текста.
									a(href="#") Читать далее
				.news-info
					h2 Наши новинки
					.news-list
						.news-item.news-item--index
							.news-item__txt.news-item--orange
								.news-item__middle
									span.date 24.11.2016
									p Новое оборудование в нашей студии
						.news-item.news-item--index
							.news-item__txt.news-item--green
								.news-item__middle
									span.date 24.11.2016
									p Новое оборудование в нашей старой студии, а также старое оборудование в нашей студии.
						.news-item.news-item--index
							.news-item__txt.news-item--blue
								.news-item__middle
									span.date 24.11.2016
									p Оборудование в нашей студии
					.news-list__lnk
						a(href="#") Читать далее
		footer
			.site-map
				a(href="#") Карта сайта
			.contacts
				a(href="#") Контакты
			.footer-info
				p +7 812 982 69 61, 
					a(href="www.eklektika-spb.ru") www.eklektika-spb.ru
				p ЭклектикаСПб
					sup &copy;
				.footer-soc-icons
					a(href="").footer-soc-icons__item.footer-soc-icons--in
					a(href="").footer-soc-icons__item.footer-soc-icons--vk
					a(href="").footer-soc-icons__item.footer-soc-icons--fb
				.counter
					//- Сюда вставить код счетчика, картинка временная, ее можно удалить
					img(src="img/counter.png", alt="")
