doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Арт-студия "Эклектика"
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900")
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet", href="css/slick.css")
		link(rel="stylesheet", href="css/slick-theme.css")
		link(rel="stylesheet" href="css/eclectica.css")
		script(src="//code.jquery.com/jquery-1.11.0.min.js")
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/eclectica.js")
		body
		.main-content
			.logo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			header.second-header
				.soc-icons.soc-icons--header
					a(href="#").soc-icons__item.soc-icons--fb-white
					a(href="#").soc-icons__item.soc-icons--vk-white
					a(href="#").soc-icons__item.soc-icons--in-white
				.street
					img(src="img/marata-86.png", alt="ул. Марата, 86")
				.address.address--header
					p +7 812 982 69 61
					p +7 905 222 68 10
					a(href="www.eklektika-spb.ru") www.eklektika-spb.ru
					a(href="mailto:eklektika-spb@yandex.ru") eklektika-spb@yandex.ru
			main
				section.content
					.question
						a(href="") Задать вопрос
					.content-interesting
						h4 Интересное
						.news-list
							.news-item.news-item--interesting
								.news-item__txt.news-item--orange
									.news-item__middle
										span.date 24.11.2016
										p Новое оборудование в нашей студии
							.news-item.news-item--interesting
								.news-item__txt.news-item--green
									.news-item__middle
										span.date 24.11.2016
										p Новое оборудование в нашей старой студии, а также старое оборудование в нашей студии.
							.news-item.news-item--interesting
								.news-item__txt.news-item--blue
									.news-item__middle
										span.date 24.11.2016
										p Оборудование в нашей студии
					.content-item
						p.content-item-label Творчество
						h1 Репродукции картин
						img(src="img/img.jpg", alt="")
						p Летом 2012 года группа творческих и энергичных людей образовала небольшое объединение - Арт-Центр «Эклектика Спб», в котором начала заниматься оригинальными подарками: лепить из глины чашечки, чайнички, подсвечники…; рисовать прикольные картинки для футболок, сумок и фартуков; делать фото и фотомонтажи на тарелках и кружках, разрабатывать авторские этикетки на бутылки, писать портреты, оказывать дизайнерские услуги.
						p Но в скором времени большое количество заказов способствовало расширению деятельности арт-центра: было приобретено необходимое оборудование, чтобы стало возможным выполнять широкоформатную печать (печать на холсте, фото на холсте, печать фотографий больших форматов, фотообои на стену, печать на пенокартоне, печать репродукций).
						p А чуть позже мы окрыли собственную багетную мастерскую,  где стали изготавливать рамы для картин, фоторамы, подрамники любых размеров. 
						p Мы выделили пространство под художественную мастерскую, где начали творить наши художники: делать портреты по фотографии, рисовать картины на заказ, делать копии картин известных художников, печатать репродукции картин и прорисовывать их маслом или покрывать текстурным гелем… Тогда же мы приобрели печь для обжига керамики (для изделий из глины) и начали проводить уроки лепки из глины и стали предлагать купить авторскую керамику наших керамистов.
						p А позже нам захотелось поделиться с людьми нашими знаниями и умениями. И нам пришла идея открыть школу искусств для детей и взрослых «Эклектика Спб». В ней мы стали делилиться со всеми, кто хотел узнать что-то новое для себя тем, что сами хорошо умели и знали. Любой желающий мог приийти и записаться на наши уроки рисования или мастер-классы по живописи. Или, например, поехать  с нами на выезной мастер-класс по живописи в загородный отель. Уроки английского с носителем языка мы также стали предлагать посетить в нашей школе, когда подружились с приезжими американцами (кстати, по-русски не говорящими совсем).
						p Еще мы всегда с большим вдохновением устраиваем необычные и веселые арт-вечеринки - ART FOR FUN.
						p Мы открыли небольшой магазин товаров для художников (где можно купить холст грунтованный, багет импортный, рейки для подрамника, гель текстурный, щипцы для натяжки холста, паспарту, мольберты, планшеты...)
						p Но на этом мы не остановимся, мы хотим двигаться вперед и вверх, к сияющим вершинам Самосовершенствования. И предлагаем Вам, друзья, к нам присоединиться! Скучно не будет, мы обещаем!
						.slider-content
							.slider-content__item
								img(src="img/img-2.jpg", alt="")
								p текстурный гель
							.slider-content__item
								img(src="img/img-3.jpg", alt="")
								p любой другой текст
					.back-lnk 
						a(href="index.html") Вернуться на главную...
				aside.right-menu
					h3 Все услуги
					ul.first-level
						li 
							a(href="") Мастер-классы
							ul.second-level
								li 
									a(href="") - МК по живописи
									ul.third-level
										li
											a(href="") мк по живописи маслом
										li
											a(href="") мк по живописи акрилом
										li
											a(href="") мк по живописи акварелью
										li
											a(href="") мк по живописи пастелью
								li 
									a(href="") - Скетчинг
								li
									a(href="") - ART for FUN
								li
									a(href="") - Выездной корпоратив
								li
									a(href="") - Уроки лепки. Керамика
						li 
							a(href="") Картины на заказ
							ul.second-level
								li
									a(href="") - Репродукции картин
									ul.third-level
										li
											a(href="") каталог картин
										li
											a(href="") * по темам
										li
											a(href="") * по адресам
								li 
									a(href="") - Портрет по фото
									ul.third-level
										li
											a(href="") портрет карандашом
										li
											a(href="") портрет маслом
										li
											a(href="") портрет акварелью
										li
											a(href="") портрет "смешаная техника"
								li
									a(href="") - Поп-Арт
								li
									a(href="") - Фотомонтаж
								li
									a(href="") - Фотоколлаж
								li
									a(href="") - Фотомозаика
								li 
									a(href="") - Модульные картины
									ul.third-level
										li
											a(href="") каталог картин
										li
											a(href="") * по темам
								li 
									a(href="") - Постеры и плакаты
									ul.third-level
										li
											a(href="") каталог картин
										li
											a(href="") * по темам
						li 
							a(href="") Широкоформатная печать
							ul.second-level
								li
									a(href="") - Фото на холсте
						li 
							a(href="") Багетная мастерская
							ul.second-level
								li
									a(href="") - Подрамник для холста
								li
									a(href="") - Натяжка холста
								li 
									a(href="") - Рамки для картин
									ul.third-level
										li
											a(href="") деревянные
										li
											a(href="") пластиковые
								li
									a(href="") - Паспарту
								li
									a(href="") - Резка стекла и зеркал
						li 
							a(href="") Магазин подарков
							ul.second-level
								li
									a(href="") - Подарочный сертификат
								li
									a(href="") - Подарочная упаковка
								li
									a(href="") - Печать на футболках
								li
									a(href="") - Прикольные фартуки
								li
									a(href="") - Этикетки на бутылки
								li
									a(href="") - Игральные карты
								li
									a(href="") - Бин Бэг
								li
									a(href="") - Печать на дисках
								li
									a(href="") - Магниты на заказ
								li
									a(href="") - Фотокнига на заказ
								li
									a(href="") - Фотопазл на заказ
						li 
							a(href="") Нужности
							ul.second-level
								li
									a(href="") - Таблички из металла
								li
									a(href="") - Мольберты
								li
									a(href="") - Наклейки
								li 
									a(href="") - Товары для художников
									ul.third-level
										li
											a(href="") текстурный гель
										li
											a(href="") краски
										li
											a(href="") холст грунтованный
		footer
			.site-map
				a(href="#") Карта сайта
			.contacts
				a(href="#") Контакты
			.footer-info
				p +7 812 982 69 61,
					a(href="www.eklektika-spb.ru") www.eklektika-spb.ru
				p ЭклектикаСПб
					sup &copy;
				.footer-soc-icons
					a(href="").footer-soc-icons__item.footer-soc-icons--in
					a(href="").footer-soc-icons__item.footer-soc-icons--vk
					a(href="").footer-soc-icons__item.footer-soc-icons--fb
				.counter
					//- Сюда вставить код счетчика, картинка временная, ее можно удалить
					img(src="img/counter.png", alt="")
