body {
	color: #000;
	background-color: #fff;
	font: 500 14px/1 Roboto, Arial, sans-serif;
}


.wrapper {
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
}
.main-content {
	@extend .wrapper;
	min-height: -webkit-calc(100vh - 145px);
	min-height: -moz-calc(100vh - 145px);
	min-height: calc(100vh - 145px);
	position: relative;
}
h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 48px;
}
.slider-top {
	height: 566px;
	&__item {
		position: relative;
	}
	&__txt {
		position: absolute;
		right: 0;
		width: 450px;
	}
	.address {
		float: left;
		width: 260px;
		height: 150px;
		margin-top: 30px;
		text-align: center;
		margin-bottom: 60px;
		font-size: 20px;
		color: #fff;
		line-height: 1.3;
		a {
			color: #fff;
			display: block;
			text-decoration: none;
		}
	}
	.soc-icons {
		float: left;
		width: 150px;
		margin-top: 25px;
		&__item {
			float: left;
			width: 43px;
			height: 43px;
			margin-right: 3px;
			background-image: url(../img/soc-icons.png);
		}
		&--fb-white {
			background-position: 0 0;
		}
		&--vk-white {
			background-position: -44px 0;
		}
		&--in-white {
			background-position: -88px 0;
		}
		&--fb-black {
			background-position: 0 -45px;
		}
		&--vk-black {
			background-position: -44px -45px;
		}
		&--in-black {
			background-position: -88px -45px;
		}
	}
	.slogan {
		clear: both;
		color: #fff;
		font-weight: 300;
		p {
			font-size: 40px;
			margin-bottom: 20px;
		}
		span {
			font-size: 25px;
			float: right;
			padding-right: 40px;
		}
	}
}
ul.menu-top {
	height: 40px;
	background-color: #ffb400;
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
	text-align: center;
	li {
		list-style: none;
		display: table-cell;
		width: 14.2%;
		vertical-align: middle;
	}
	a {
		font-size: 25px;
		text-decoration: none;
		color: #000;
	}
}

main {
	max-width: 1280px;
	margin: 0 auto;
}
.slider-service__item {
	background: url(../img/service-bg.jpg) 50% 80px no-repeat;
}
.service-info {
	margin: 40px 0 50px;
	h2 {
		margin-left: 180px;
	}
}
.service-list {
	margin-top: 350px;
	padding-left: 80px;
	overflow: hidden;
}
.service-item {
	float: left;
	width: 33%;
	a {
		font-weight: 300;
		font-size: 25px;
		color: #000;
		text-decoration: none;
		display: inline-block;
		border-bottom: 1px solid #000;
	}
}
.service-section {
	display: inline-block;
	color: #fff;
	padding: 3px 8px;
	font-size: 14px;
	font-weight: 300;
	background-color: #ffb400;
	margin-bottom: 5px;
}
.service-name {
	margin: 0 0 10px -17px;
	p {
		font-size: 25px;
		font-weight: 900;
		margin-bottom: 5px;
	}
}
.service-text {
	width: 50%;
	margin-bottom: 10px;
	p {
		font-size: 14px;
		font-weight: 300;
	}
}
.news-info {
	background: url(../img/news-bg.jpg) 70% 0 no-repeat;
	padding-top: 80px;
	margin-bottom: 20px;
	h2 {
		margin-left: 180px;
	}
}
.news-list {
	overflow: hidden;
	margin: 40px 0 20px;
	&__lnk {
		padding-right: 50px;
		text-align: right;
		a {
			font-size: 25px;
			color: #000;
		}
	}
}
.news-item {
	float: left;
	width: 33%;
	text-align: center;
	&__txt {
		display: table;
		width: 290px;
		height: 290px;
		margin: 0 auto;
		border-radius: 50%;
		color: #fff;
		font-size: 25px;
		padding: 0 45px;
		box-sizing: border-box;
	}
	&__middle {
		display: table-cell;
		vertical-align: middle;
	}
	&--orange {
		background-color: #f06c21;
	}
	&--green {
		background-color: #92ca52;
	}
	&--blue {
		background-color: #77edeb;
	}
	p {
		max-height: 152px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
footer {
	height: 145px;
	background-color: #000;
	@extend .wrapper;
	color: #fff;
}
